sentence-transformers
langchain
flask
pypdf
python-dotenv
pinecone-client[grpc]
langchain_pinecone
langchain_community
langchain_openai
langchain_experimental
protobuf>=4.21.0
grpc-gateway-protoc-gen-openapiv2
-e .
